# In-Class Exercises, Session 9

<U>Notes if you are using Jupyter Notebook</U>:  to call <B>exit()</B> from a notebook, please use <B>sys.exit()</B> (requires <B>import sys</B>).

If a strange error occurs, it may be because Jupyter retains variables from all executed cells.  To reset the notebook, click 'Restart Kernel' (the circular arrow) -- this will not undo any changes made.

<B>Also note</B> that files are located in the parent directory.  This means that you must prepend <B>../</B> to each filename to find it.

SERIES AND DATAFRAME DTYPES

<B>9.1:  <U>Review:  check the <B>.dtypes</B> of a DataFrame and <B>.dtype</B> of a Series</U>.  </B>

In [ ]:
import pandas as pd

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['w', 'x', 'y'])

<B>9.2:  <U>Use Series <B>.astype()</B>.  Change the 'a' column to np.float64, and 'b' column to str; check dtypes before and after the operation.  </B>

In [ ]:
import pandas as pd
import numpy as np

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['w', 'x', 'y'])

<B>9.3:  <U>use pd.to\_numeric</U>.  Change the 'a' and 'b' columns to a numeric type, and show dtypes afterwards.  </B>

In [ ]:
import pandas as pd

dol = {  'a': ['1', '2', '3'],
         'b': ['2.9', '3.5', '4.9'],
         'c': ['yourstr', 'mystr', 'theirstr']  }

df = pd.DataFrame(dol, index=['w', 'x', 'y'])

REVIEW OF LAMBDA FUNCTIONS

<B>9.4:  <U>Convert a function to lambda</B>.  The following function takes one argument and returns the value doubled.  Convert to lambda and use in the <B>map()</B> function.  </B>

In [ ]:
def doubleit(arg):
    return arg * 2

seq = [1, 2, 3, 4]

seq2 = map(doubleit, seq)

print(list(seq2))           # [2, 4, 6, 8]

<B>9.5:  <U>Convert another function to lambda</B>.  The following function takes a dict key and returns the value.  Convert to a lambda for use in the <B>sorted()</B> function.   </B>

In [ ]:
d = {'a': 10, 'b': 2, 'c': 5}

def byvalue(arg):
    return d[arg]

skeys = sorted(d, key=byvalue)

print(skeys)        # ['b', 'c', 'a'] (in order of value, low-to-high)

DATAFRAME .apply()

<B>9.6:  <U>Apply a function to each item in a Series column</U>.  Create new column 'd' that is the value of 'b' * 100, by using <B>.apply()</B> with the <B>centify</B> function (defined below).  'd' column values should be 290.0, 350.0, 490.0.  When correct, replace the function with a lambda.  </B>

In [ ]:
import pandas as pd

def centify(arg):
    return arg * 100

dol = {  'a': [1, 2, 3],
         'b': [2.9, 3.5, 4.9],
         'c': [0.1, 0.2, 0.3]  }

df = pd.DataFrame(dol, index=['w', 'x', 'y'])

df['d'] = df.b.apply(# your code here)

print(df)

<B>9.7:  <U>Apply a function to each item in a Series row</U>.  Create new row 'xc' that is the value of 'x' * 100, by using <B>.apply()</B> with the <B>centify</B> function (defined below).  'xc' row values should be <B>20.0, 35000.0, 200</B>.  When correct, replace the function with a lambda.  </B>

In [ ]:
import pandas as pd

def centify(arg):
    return arg * 100

dol = {  'a': [1, 2, 3],
         'b': [290.0, 350.0, 490.0],
         'c': [0.1, 0.2, 0.3]  }

df = pd.DataFrame(dol, index=['w', 'x', 'y'])

df.loc['xc'] = df.loc['x'].apply(# your code here)

print(df)

<B>9.8:  <U>Apply a function to each Series column in a DataFrame</U>.  Call <B>.apply()</B> on the DataFrame, which will pass each column <B>Series</B> to the function in turn.  Inside the function, sum up the column values and create a new 'z' row with the sum of values.  </B>

In [ ]:
import pandas as pd

def sum_col(series_column):
    # set new 'z' row value in this series column
    # to the sum of the values in the column
    # make sure to return the changed series

dol = {  'a': [1, 2, 3],
         'b': [290.0, 350.0, 490.0],
         'c': [0.1, 0.2, 0.3]  }

df = pd.DataFrame(dol, index=['w', 'x', 'y'])

df = df.apply(sum_col)

print(df)

<B>9.9:  <U>Apply a function to each Series row in a DataFrame</U>.  Call <B>.apply()</B> on the DataFrame with <B>axis=1</B>, which will pass each row <B>Series</B> to the function in turn.  Sum up the row values and create a new 'd' row with the sum of values.  </B>

In [ ]:
import pandas as pd

def sum_row(series_row):
    # set new 'd' column value in this series row
    # to the sum of the values in the row

dol = {  'a': [1, 2, 3],
         'b': [290.0, 350.0, 490.0],
         'c': [0.1, 0.2, 0.3]  }

df = pd.DataFrame(dol, index=['w', 'x', 'y'])

df = df.apply(sum_row, axis=1)

print(df)

GROUP BY

Please run this cell to view the <B>sales-funnel</B> spreadsheet again:

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

df          # in PyCharm, use print(df)

<B>9.10:  <U><B>.groupby()</B>:  single-column aggregation</U>.  First, view the DataFrame.  Then use <B>.groupby()</B> to show sum of 'SaleAmount' grouped by 'SalesRep'.  </B>

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

df.groupby(# your code here) # and here

<B>9.11:  <U><B>.groupby()</B>:  dual-column aggregation</U>.  Use <B>.groupby()</B> to show sum of 'SaleAmount' grouped by 'SalesRep' and by 'Product'.  </B>

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

df.groupby(# your code here) # and here

<B>9.12:  <U><B>.groupby()</B>:  custom 'summary' function using <B>.apply()</B></U>.  Group rows by 'SalesRep' and use <B>.apply()</B> with a function that expects a <B>DataFrame</B> of grouped rows and returns the sum of 'SaleAmount' from the DataFrame.  (In other words, this replicates what <B>.groupby().sum()</B> does).  </B>

In [ ]:
import pandas as pd

def price_sum(this_df):
    return # your code here

df = pd.read_excel("../sales-funnel.xlsx")

print(df.groupby('SalesRep').apply(price_sum))

<B>9.13:  <U><B>.groupby()</B>:  custom 'summary' function using <B>.apply()</B></U>.  Building on the previous solution, customize the function to sum SaleAmount but reduce 'CPU' values by 20% in the sum (because of the overhead cost of CPU handling).  </B>

In [ ]:
import pandas as pd

def price_sum(this_df):
    return # your code here

df = pd.read_excel("../sales-funnel.xlsx")

<U>Expected Output</U>:
<PRE>SalesRep
Cedric Moss       91000
Craig Booker      67000
Daniel Hilton     94000
John Smith        33000
Wendy Yule       143000
dtype: int64</PRE>

<B>9.14:  <U><B>.groupby()</B>:  custom 'grouping' function</U>.  Pass a function to <B>groupby()</B> that identifies 2 groups using the 'Product' column:  if the value is 'CPU' or 'Monitor', return 'hardware'; otherwise, return 'software'.  Count the number of rows in each group with <B>.count()</b>.  </B>

In [ ]:
import pandas as pd

def grouper(row_idx):
    row = df.loc[row_idx]
    # your code here - identify the 'Product' value in the row and return 'software' or 'hardware'

df = pd.read_excel("../sales-funnel.xlsx")

print(df.groupby(grouper).count())

The function receives a row index which you can use with <B>.loc[]</B> to find the row being grouped.  Have the function return 'Software' if the 'Product' value is 'Software' or 'Maintenance', and 'Hardware' if the Product is 'CPU'.

PIVOT TABLE

Please run this cell to view the <B>sales-funnel</B> spreadsheet again:

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

df          # in PyCharm, use print(df)

<B>9.15:  <U><B>pd.pivot\_table()</B>:  single-column aggregation</U>.  First, view the DataFrame above.  Then use <B>.pivot\_table(df)</B> to aggregate by 'SalesRep', using the <B>index=</B> parameter.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

print(pd.pivot_table(df, # your code here))

The default summary method is average (i.e., <B>.mean()</B>)

<B>9.16:  <U><B>pd.pivot\_table()</B> specifying a summary function</U>.  Perform the same pivot as previous, but use the <B>aggfunc=</B> parameter to specify a sum (use <B>np.sum</B>).  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

print(pd.pivot_table(df, index='SalesRep' # your code here))

<B>9.17:  <U><B>pd.pivot\_table()</B>:  dual-column aggregation</U>.  Perform the same pivot as previous, but group by by both 'SalesRep' and 'Product'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

print(pd.pivot_table(df, index='SalesRep', aggfunc=np.sum))

<B>9.18:  <U><B>pd.pivot\_table()</B>:  specifying values to summarize</U>.  Perform the same pivot as previous, but use <B>values=</B> with a list to specify 'SaleAmount' and 'Quantity'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

print(pd.pivot_table(df, index=['SalesRep', 'Product'], aggfunc=np.sum # your code here))

<B>9.19:  <U><B>pd.pivot\_table()</B>:  further agg by secondary value</U>.  Perform the above pivot on just 'SalesRep', but use <B>columns=</B> with a list to show the results broken down by 'Product'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

print(pd.pivot_table(df, index='SalesRep',
                         aggfunc=np.sum,
                         values=['SaleAmount', 'Quantity']
                         # your code here))

MULTIINDEX

Please begin by noting the multi-level index that is produced by the below multi-column aggregation.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc=np.sum)

print(table)

<B>9.20:  <U><B>MultiIndex</B>:  slicing at top level</U>.  Slice the multi-index to show just 'Account' and 'Quantity', and just for Manager 'Debra Henley'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc=np.sum)

print(table)

<B>9.21:  <U><B>MultiIndex</B>:  slicing at 2nd level</U>.  Use a 2-item tuple (first-level label, second-level label) to slice for just 'Debra Henley' at the first level and 'Craig Booker' at the 2nd level.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc=np.sum)

print(table)

<B>9.22:  <U><B>MultiIndex</B>:  "cross section" slicing</U>.  Use the <B>.xs()</B> method with <B>level=1</B> to show rows just for 'Craig Booker'.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc=np.sum)

print(table)

<B>9.23:  <U><B>MultiIndex</B>:  use <B>.query('Manager == "Debra Henley"')</B> to select rows</U>.  </B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc=np.sum)

print(table.query(# your code here))

<B>9.24:  <U><B>MultiIndex</B>:  First review the below DataFrame; then use <B>.query('Status in ["pending", "won"]')</B> to select rows</U>.  </B>

In [ ]:
import pandas as pd

df = pd.read_excel("../sales-funnel.xlsx")

df.query(# your code here)

<B>9.25:  <U><B>MultiIndex</B>:  use <B>.loc[]</B> with a 1- or 2-item tuple to select rows</U>.  Keep in mind that a 1-item tuple must have a comma after the item, for example <B>('Manager',)</B></B>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("../sales-funnel.xlsx")

table = pd.pivot_table(df, index=['Manager', 'SalesRep'],
                           aggfunc=np.sum)

print(table)

TIMESERIES

<B>9.26:  <U>Create a <B>pd.Timestamp</B> object by passing any string that represents a date</U>.  Print the object's type and value.  </B>

In [ ]:
import pandas as pd

ts = pd.Timestamp(# your code here)

<B>9.27:  <U>Create a <B>pd.Timedelta</B> interval object</U> for one day (use the <B>days=1</B> argument).  Add it to the <B>Timestamp</B> object to produce a new Timestamp object with the advanced date.  Print the object to see the new date.  </B>

In [ ]:
import pandas as pd

ts = pd.Timestamp('3/3/2020')

td = pd.Timedelta(# your code here)

# add the Timestamp to the Timedelta

<B>9.28:  <U>Create a <B>pd.Timedelta</B> interval object</U> by subtracting one date from another.  Print the object's value and its type.  </B>

In [ ]:
import pandas as pd

ts1 = pd.Timestamp('3/3/2020')
ts2 = pd.Timestamp('3/5/2020')

# subtract one from the other; print result

<B>9.29:  <U>Generate a date range</U>.  Use the <B>pd.date\_range()</B> function with a start date, end date and <B>freq=</B> parameter indicating the frequency of dates ('D' for day, 'M' for end of month, 'MS' for start of month, 'B' for business day, etc.)  Print the object to see its contents and type.  </B>

In [ ]:
import pandas as pd

dr = pd.date_range(# your code here)

print(dr)

<B>9.30:  <U>Converting a DataFrame column/index to <B>Timestamp</B></U>.  View the below dataframe and note the date column EST.  Use <B>pd.to\_datetime()</B> to convert the 'EST' series to Timestamps, then use <B>.set\_index()</B> with the column name and <B>drop=True</B> to set the column as the index.  Check the dtype of the index.  </B>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork_2016_2018.csv')

<B>9.31:  <U>Select rows based on partial date</U>.  Given the below DataFrame, select rows <I>with a straight subscript</I> for the following:  </B>

<UL>
  <LI>single date (put the date in any format)</LI>
  <LI>single year-month (for example, '2016-03')</LI>
  <LI>single year</LI>
  <LI>date range as a slice (for example, '2016-03-03': '2016-05-02')
</UL>

In [ ]:
import pandas as pd

df = pd.read_csv('../weather_newyork_2016_2018.csv')

df.EST = pd.to_datetime(df.EST)

df = df.set_index('EST', drop=True)